body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: 'Noto Sans', sans-serif;
 background-color: #F5F6ED;
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

